.actions-wrapper{

    padding-top: 48px;
}

button{
    all: unset;
    font: var(--body-tl);
    color: var(--text-heading);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;

    display: flex;
    gap:12px ;

    & .image-btn{
        background-image: url(../../assets/icons/ticket.svg);
        height: 20px;
        width: 20px;
    }
    
    &.bnt {
        margin-left: auto;
        background-color:var(--shape-button); ;
        
        &:hover,
        &:focus {
         background-color: var( --brand-dark);      
         color: var(--text-heading);
        
        }
     }
}